.fixtable {
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.fixtable * {
  box-sizing: border-box;
}

.fixtable-inner {
  max-height: 100%;
  overflow: auto;
}

.fixtable table {
  border-collapse: collapse;
  width: 100%;
}

.fixtable thead th {
  height: 0;
  margin: 0;
  padding: 0;
}

.fixtable thead th > div {
  position: absolute;
  top: 0;
}

.fixtable-column-filters input,
.fixtable-column-filters select {
  width: 100%;
}

.fixtable-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fixtable-filters {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fixtable-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fixtable .loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fixtable-cell-editing input {
  width: 100%;
}

.fixtable-sortable-column-header {
  cursor: pointer;
}

.fixtable-triangle {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.fixtable-triangle-reversed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}