.fixtable {
  margin: 0 auto;
  position: relative;
  z-index: 0; /* new stacking context */
  height: 100%;
}

.fixtable * {
  box-sizing: border-box;
}

.fixtable-inner {
  max-height: 100%;
  overflow: auto;
}

.fixtable table {
  border-collapse: collapse;
  width: 100%;
}

.fixtable thead th {
  height: 0;
  margin: 0;
  padding: 0;
}

.fixtable thead th > div {
  position: absolute;
  top: 0;
}

.fixtable-header,
.fixtable-filters {
  z-index: 100;
}

.fixtable-column-headers th > div,
.fixtable-column-filters th > div {
  z-index: 101;
}

.fixtable-column-filters input,
.fixtable-column-filters select {
  width: 100%;
}

.fixtable-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fixtable-filters {
  position: absolute;
  left: 0;
  width: 100%;
}

.fixtable-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fixtable .loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fixtable-cell-editing input {
  width: 100%;
}
