.fixtable {
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.fixtable * {
  box-sizing: border-box;
}

.fixtable-inner {
  overflow: auto;
  max-height: 100%;
}

.fixtable table {
  border-collapse: collapse;
  width: 100%;
}

.fixtable thead th {
  height: 0;
  margin: 0;
  padding: 0;
}

.fixtable thead th > div {
  position: absolute;
  top: 0;
}

.fixtable-column-filters input,
.fixtable-column-filters select {
  width: 100%;
}

.fixtable-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fixtable-filters {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fixtable-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fixtable-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fixtable-cell-editing input {
  width: 100%;
}

.fixtable-sortable-column-header {
  cursor: pointer;
}

.fixtable-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.fixtable-caret-reversed {
  border-top: 0;
  border-bottom: 4px solid;
}
